# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Pipfile
Pipfile.lock
__MACOSX/
.DS_Store
# C extensions
*.so
*.db
*.sqlite
*.sqlite3
*.log
*.h5
demo*
*.test
*.data
*demo.py
*test.py
test*

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

*.html

# pycharm
.idea/

## vscode
.vscode/
